<!DOCTYPE html>
<html>
<head>
    <title>ML_Lab_Test</title>
    <link rel="stylesheet" type="text/css" href="/static/style1.css">
</head>
<body class="bar-body" style="background-color: black;">
    <nav>
        <label class="logo">Spam_X</label>
        <div class="icons">
            <a href="/"><ion-icon name="home" class="home"></ion-icon></a>
            <a href="/plot"><ion-icon name="bar-chart" class="plot"></ion-icon></a>
        </div>
    </nav>
    <h2 class="text_">Data Visualtization</h2>
    <div class="image-container">
        <img src="/static/pic1.png">
        <img src="/static/pic2.png">
        <img src="/static/pic3.png">
        <img src="/static/pic4.png">
        <img src="/static/pic5.png">
        <img src="/static/pic6.png">
        <img src="/static/pic9.png">
        <img src="/static/pic10.png">
        <img src="/static/pic11.png">
        <img src="/static/pic12.png">
        <img src="/static/pic13.png">
        <img src="/static/pic15.png">
    </div>
    <img src="/static/pic14.png" class="spc">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>